@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}
html{
    font-size: 62.5%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    //background: url(../img);
    //background-size: cover;
    background: linear-gradient(45deg,#f06291, aqua);
    
}

.container{
    position: relative; // porque va a ser una class "padre"
    width: 40rem;
    height: 40rem;
    .thum{
        position: absolute; // porque su "padre" es absolute
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        
        li{
            list-style: none;
            width: 10rem;
            height: 10rem;
            margin: 1rem 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(255, 255, 255, 0.4);
            box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.05);
            border-radius: 2rem;
            backdrop-filter: blur(0.4rem);
            border: 0.1rem solid rgba(255, 255, 255, 0.25);
            border-top: 0.1rem solid rgba(255, 255, 255, 0.5);
            border-left: 0.1rem solid rgba(255, 255, 255, 0.5);

            img{
                width: 80%;
                transition: 500ms;
                &:hover{
                    transform: rotate(-35deg);
                }
            }
        }
    }

    .imgBox{
        position: absolute;
        top: 0;
        right: 0;
        padding: 6rem 2rem;
        padding-left: 5rem;
        width: 35rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.1);
        border-radius: 2rem;
        backdrop-filter: blur(0.4rem);
        border: 1px solid rgba(255, 255, 255, 0.25);
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);

        h2{
            font-size: 2.5rem;
            color: #fff;
            letter-spacing: 0.5rem;
            text-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
        }
        img{
            width: 80%;
            transition: 250ms;
            &:hover{
                transform: scale(1.2) translateX(2rem) rotate(-15deg);
            }
        }
        .size{
            font-size: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            span{
                font-size: 1.2em;
                color: #fff;
                letter-spacing: 0.1rem;
                margin-right: 0.5rem;
            }
            li{
                list-style: none;
                width: 3rem;
                height: 3rem;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0.5rem;
                border-radius: 0.5rem;
                font-weight: 700;
                color: #1e6b7b;
                box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.3);
                cursor: pointer;
                transition: 250ms;
                &:hover{
                    transform: translateY(-1rem);
                }
            }
        }
        .btn{
            position: absolute;
            bottom: -3rem;
            background: #fff;
            box-shadow: 0 1.5rem 3.5rem rgba(0, 0, 0, 0.3);
            border-radius: 3rem;
            text-decoration: none;
            display: inline-block;
            padding: 1.5rem 3rem;
            font-weight: 500;
            transition: 100ms;
            font-size: 2rem;
            color: #1e6b7b;
            &:hover{
                letter-spacing: 0.2rem;
            }
        }
    }
}